<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${appName}"></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javascript">
function showError(message) {
  document.getElementById("error").style.visibility = "visible";
  document.getElementById("error").innerHTML = message;
}

function formatAnswerString(currentPrecipitation) {
  var answer;
  switch (currentPrecipitation) {
    case "rain":
      answer = "Yes";
      break;
    case "sleet":
    case "snow":
    case "none":
      answer = "No";
      break;
    default:
      answer = "Unknown";
      break;
  }
  return answer;
}

function formatPrecipitationString(typeOfPrecipitation) {
  var precipitation;
  switch (typeOfPrecipitation) {
    case "rain":
    case "sleet":
    case "snow":
      precipitation = typeOfPrecipitation;
      break;
    case "none":
      precipitation = "no precipitation";
      break;
    default:
      precipitation = "precipitation";
      break;
  }
  return precipitation;
}

function convertToPercentString(floatNumber) {
  if (floatNumber === -1) {
    return "unknown";
  }
  return Number(floatNumber * 100).toFixed(0).toString() + "%";
}

function formatIntensityString(floatNumber) {
  if (floatNumber === -1) {
    return "unknown";
  }
  // Convert from inches to millimeters
  return Number(floatNumber * 25.4).toFixed(2).toString() + " mm/hour";
}

function retrieveRainReport(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'isitraining/?latitude=' + latitude + '&longitude=' + longitude);
  xhr.timeout = 5000;
  xhr.onerror = function (e) {
    showError("Could not reach service: Error");
  }
  xhr.ontimeout = function (e) {
    showError("Could not reach service: Timeout");
  };
  xhr.onload = function() {
    if (xhr.status === 200) {
      var response = JSON.parse(xhr.responseText);
      document.getElementById("rainReport").style.visibility = "visible";
      document.getElementById("latitude").innerHTML = response.latitude;
      document.getElementById("longitude").innerHTML = response.longitude;
      document.getElementById("answer").innerHTML = formatAnswerString(response.currentPrecipitation);
      document.getElementById("currentPrecipitation").innerHTML = formatPrecipitationString(response.currentPrecipitation);
      document.getElementById("currentProbability").innerHTML = convertToPercentString(response.currentProbability);
      document.getElementById("currentIntensity").innerHTML = formatIntensityString(response.currentIntensity);
      document.getElementById("chanceOfPrecipitationToday").innerHTML = convertToPercentString(response.chanceOfPrecipitationToday);
      document.getElementById("typeOfPrecipitationToday").innerHTML = formatPrecipitationString(response.typeOfPrecipitationToday);
    } else {
      showError("Could not retrieve a rain report, try again later.");
    }
  };
  xhr.send();
}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(retrieveRainReport, function (error) {
      showError("You need to share your location for this page to work.");
    });
  } else {
    showError("This page will not function without GeoLocation support.");
  }
}

window.onload = getLocation();
</script>
<style type="text/css">
a:link {
  text-decoration: none;
}

body {
 font-family: Arial, sans-serif;
}

#error {
  visibility: hidden;
}

#rainReport {
  visibility: hidden;
}
</style>
</head>
<body>
<h1><span id="title" th:text="${appName}"></span></h1>
<span id="error"></span>
<table id="rainReport">
  <tr>
    <td><h1><b><span id="answer"></span></b></h1></td>
  </tr>
  <tr>
    <td>
    <h3>There is currently <span id="currentPrecipitation"></span> at location <span id="latitude"></span>, <span id="longitude"></span>.</h3>
    <p><i>Probability <span id="currentProbability"></span>, Intensity <span id="currentIntensity"></span>.</i></p>
    </td>
  </tr>
  <tr>
    <td><h3>Today there is a <span id="chanceOfPrecipitationToday"></span> chance of <span id="typeOfPrecipitationToday"></span>.</h3></td>
  </tr>
</table>
<h3><a id="darkSkyAttribution" href="https://darksky.net/poweredby/">Powered by Dark Sky</a></h3>
</body>
</html>