<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${appName}"></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javascript">
function showError(message) {
  document.getElementById("error").style.visibility = "visible";
  document.getElementById("error").innerHTML = message;
}

function convertToPercentString(chanceOfRain) {
	if (chanceOfRain === -1) {
		return "unknown";
	}
	return Number(chanceOfRain * 100).toFixed(0).toString() + "%";
}

function retrieveRainReport(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'isitraining/?latitude=' + latitude + '&longitude=' + longitude);
  xhr.timeout = 5000;
  xhr.onerror = function (e) {
	showError("Could not reach service: Error");
  }
  xhr.ontimeout = function (e) {
	showError("Could not reach service: Timeout");
  };
  xhr.onload = function() {
    if (xhr.status === 200) {
      var response = JSON.parse(xhr.responseText);
      document.getElementById("rainReport").style.visibility = "visible";
      document.getElementById("latitude").innerHTML = response.latitude;
      document.getElementById("longitude").innerHTML = response.longitude;
      document.getElementById("rainingCurrently").innerHTML = response.rainingCurrently;
      document.getElementById("chanceOfRain").innerHTML = convertToPercentString(response.chanceOfRainToday);
    } else {
      showError("Could not retrieve a rain report, try again later.");
    }
  };
  xhr.send();
}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(retrieveRainReport, function (error) {
    	showError("You need to share your location for this page to work.");
    });
  } else {
	showError("This page will not function without GeoLocation support.");
  }
}

window.onload = getLocation();
</script>
<style type="text/css">
a:link {
  text-decoration: none;
}

body {
 font-family: Arial, sans-serif;
}

#error {
  visibility: hidden;
}

#rainReport {
  visibility: hidden;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
</head>
<body>
<h1><span id="title" th:text="${appName}"></span></h1>
<span id="error"></span>
<table id="rainReport">
  <tr>
    <td><h1><b><span id="rainingCurrently"></span></b></h1></td>
  </tr>
  <tr>
    <td>There is a <span id="chanceOfRain"></span> chance of rain today at location <span id="latitude"></span>, <span id="longitude"></span>.</td>
  </tr>
</table>
<h3><a id="darkSkyAttribution" href="https://darksky.net/poweredby/">Powered by Dark Sky</a></h3>
<a class="github-fork-ribbon" href="https://github.com/phooey/is-it-raining" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
</body>
</html>